# 環境変数ファイル (秘密情報!)
.env

# WordPress アップロードディレクトリ
wp-content/uploads/

# WordPress 標準プラグイン (通常Git管理しない)
# wp-content/plugins/akismet/
# wp-content/plugins/hello.php
# 必要ならコメントアウトを外すか、管理したいカスタムプラグイン以外を記述

# OS固有ファイル
.DS_Store
Thumbs.db

# IDE設定ファイル (例)
.vscode/